  <ion-header>
    <ion-toolbar>
    <h1 class="ion-text-center">
      <b>Login</b>
    </h1>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
  <form [formGroup]="LoginForm" (ngSubmit)="onLogin(LoginForm.value)"novalidate >
  <ion-item fill="solid" style="margin-top:20px">
    <ion-label position="floating"><b>Student Email</b></ion-label>
    <ion-input  placeholder="Email"type="email" required formControlName="email" class="form-control" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"><b>Password </b></ion-label>
  <ion-input   type="Password" required  formControlName="password" ></ion-input>
  </ion-item>
<div class="ion-text-center">
    <ion-button size="large"  color="danger" type="Login" type="submit"><b>Login</b></ion-button>
</div>
<ion-item>
<ion-label class="ion-text-center">
<ion-button [routerLink]="['/resgiter-from']" fill="clear"><b>Create an Account</b></ion-button>
</ion-label>
</ion-item>
</form>
</ion-content>
